body {
    background-color: lightgrey;
    text-align: center;

}

/* #shopping_cart, td, th {
    width: 25%;
    margin: 0 auto;
    border-collapse: collapse;
} */


thead th{
    color:white;
    background-color: darkblue;
    border-radius: 20px;
}