*{
    text-align: center;
    margin:auto;
}
footer{
    position:absolute;
    bottom: 0px;
    left:43%;
}
input{
    text-align: left;
}
.logoContainer{
    margin:0px auto 30px auto;
    padding:20px 0px;
    
    background-color: lightblue;
    display:block;
}
.loginLogo{
    height:250px;
    width:250px;
}