*{
    text-align: center;
    margin:auto;
}
nav{
    background-color: lightblue;
    padding:0px;
    display:flex;
    flex-direction: row;
    margin:0px 0px 30px 0px;
}
nav ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    padding:0px;
}
/*li{
    padding:40px 0px;
}*/
.dropdown{
    position:relative;
    display: inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,.2);
    background-color: white;
}
.dropdown-content a{
    padding:12px 16px;
    display:block;
    text-decoration: none;
}
.dropdown-content a:hover{
    background-color: gainsboro;
}
.dropBtn{
    padding:16px;
    border:none;
}
.dropdown:hover .dropdown-content{
    display:block;
}

.navButton{
    background-color: lightskyblue;
    padding:30px 25px 25px 30px;
    text-decoration: none;
    color:black;
    height:30px
}
.navButtonContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /*border:solid black;*/
    height:auto;
    width:auto;
}
footer{
    position:absolute;
    bottom: 0px;
    left:43%;
}
input{
    text-align: left;
}

.navButton:hover{
    background-color: blue;
    color:white;
}
.noNav{
    background-color: lightblue;
    padding:0px;
}
.noNav:hover{
    background-color: lightblue;
}
.logoContainer{
    margin:0px auto 30px auto;
    padding:20px 0px;
    
    background-color: lightblue;
    display:block;
}
.loginLogo{
    height:250px;
    width:250px;
}
.navLogo{
    height: 80px;
    width: 80px;
}